script.page.start=1
script.page.end=98
script.output.dir=
harmontown.username=
harmontown.password=
harmontown.url.login=https://www.harmontown.com/wp-login.php
harmontown.url.pagetemplate=https://www.harmontown.com/category/podcasts/page/{0}/
